
html,body{
    min-height: 100vh;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images.adsttc.com/media/images/5a60/cbdd/f197/cc8f/5200/0be4/large_jpg/33266737154_4ab0387ccb_k.jpg?1516293076);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 
}

.contenerdor_todo{
    width: 400px;
    height: 620px;
    background-color: #ffffff9c;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #00000003;
    text-align: center;
    
}
.contenerdor_todo{
    background-color: #fff0.15;
    backdrop-filter: blur(10px);
    border-radius:16px;
    padding: 30px;
    animation: slideup 0.8s ease-out forwards;
}


.imagen_del_login{
    height: 100px;
    display: inline-block;
    background:color white;
    margin-top: 10px;
    border-radius: 100%;
}

.titulo{
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    font-weight:700;
    font-family: sans-serif;
    text-transform:uppercase;
    letter-spacing:3px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.descripcion_input{
    font-size: 12px;
    font-weight: 100;
    align-self: flex-start;
    margin-bottom: 4px;
    margin-left: 13px;
}


.input{
    background-color: rgba(250, 247, 247, 0.15);
    width: 300px;
    color: #000;
    padding: 10px;
    margin: 10px;
    border:none;
    border-bottom: 1px solid rgb(39, 39, 93);
    border-radius: 3px;
    box-shadow: 0px 0px 1px #0000.115;
    transition: background-color 0.40s ease,border-bottom-color 0.40s ease;

}

.input:valid{
    background-color: rgba(8, 52, 119, 0.115);
    border-bottom: 3px solid #002;
}


.input:focus{
    outline: none;
}

.boton_incio_sesion{
    background-color: rgb(8, 52, 119);
    font-family: sans-serif;
    color: #fff;
    width: 300px;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    border:none;
    margin-top:15px;
    box-shadow: 0px 0px 2px #000;
}

.boton_incio_sesion{
    transition: background-color 0.3s ease;
}

.boton_incio_sesion:hover{
    background-color:rgb(4, 38, 90);
}

.separador_elementos{
    font-family: sans-serif

}


.botton_registro{
    background-color: #666;
    font-family: sans-serif;
    color: #fff;
    width: 300px;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    border:none;
    margin-top:8px;
    box-shadow: 0px 0px 2px #000;
}

.botton_registro{
    transition: background-color 0.3s ease;
}

.botton_registro:hover{
    background-color: #555;
}

@keyframes slideup {
    from{
        opacity: 0;
        transform: translateY(15px);
    }
to{
    opacity: 1;
    transform: translateY(0);
}
}
